.leaderboard
  .leaderboard__header
    h1.leaderboard__title Leaderboard

    .leaderboard__sorts
      - @presenter.sort_buttons.each do |button|
        = link_to leaderboard_index_path(sort: button[:key]), class: class_names("btn", "btn--primary", "btn--medium", "btn--active" => @presenter.sorted_by?(button[:key])) do
          i.ph.ph-settings.icon = button[:icon]
          | #{button[:label]}

  - if @presenter.win_percent_note
    p.leaderboard__note = @presenter.win_percent_note

  - if @presenter.empty?
    p.leaderboard__empty = @presenter.empty_message
  - else
    table.leaderboard__table
      thead
        tr
          th Rank
          th Player
          th Games
          th Wins
          th Win %
          th Time
      tbody
        - @presenter.entries.each do |entry|
          tr class=class_names("leaderboard__row", "leaderboard__row--you" => entry.you?)
            td = entry.rank
            td = entry.name
            td = entry.games_played
            td = entry.games_won
            td = entry.win_percentage
            td = entry.play_time
