div.game
  / Board
  div.panel.panel--board

    div.panel__header.header--top
      h2 = @game_info.name
    div.panel__body

      div.op-stack.items-stretch.gap-xs
        p Table

  / Feed
  div.panel.panel--feed.panel--side

    div.panel__header.header--top
      p Game Feed

    div.panel__body
    - if @game_info.started?
      div.feed__messages

      = simple_form_for :turn, url: game_turns_path(@game_info.game), html: {class: "request-form"} do |f|
        = f.input :card, as: :select, collection: @game_info.cards, selected: @game_info.cards.first
        = f.button :submit, "Play card", class: "btn btn--primary", disabled: !@game_info.user_turn?

  / Hand
  div.panel.panel--hand.panel--base

    div.panel__header
      p Your Hand

    div.panel__body.hand
      - if @game_info.started?
        = render partial: "go_fish_games/card", collection: @game_info.cards, as: :card

  / Books
  div.panel.panel--books.panel--side.panel--base
    div.panel__header
      p Books

    div.panel__body

- unless @game_info.started?
  div.overlay.card
    h1 Waiting for players...
    = button_to "Start Game", start_game_path(@game_info.game), method: :post, class: "btn btn--primary"