.panel__body.hand-dock
  .hand-dock__top
    = render "rummy_games/phase_stepper", phase: phase

    .hand-dock__meta
      span.hand-dock__count Your hand · #{hand_cards.size} cards

  .hand-wrap
    .hand-fan
      = render partial: "rummy_games/hand_card",
              collection: hand_cards,
              as: :hand_card,
              locals: { can_select: can_select }
