button.meld class=("meld--selected" if meld.selected) type="button"
  .meld__header
    span.meld__kind = meld.kind
    span.meld__owner = meld.owner

  .meld__cards
    - meld.cards.each do |card|
      .card-container.card-container--small
        .playing-card
          = image_tag("dark_cards/#{card.rank.downcase}_#{card.suit.downcase}.svg")
