.opponent-card class=[("opponent-card--turn" if opponent.turn), ("opponent-card--you" if opponent.you)]
  p.opponent-card__name
    - if opponent.turn
      i.opponent-card__turn-icon.ph.ph-star.icon--filled
    = opponent.name

  .opponent-card__divider

  .opponent-card__hand
    - (opponent.card_count - 1).times do
      span.opponent-card__mini-card
    - if opponent.card_count.positive?
      span.opponent-card__mini-card.opponent-card__mini-card--count = opponent.card_count
