button.pile type="button" disabled=(!enabled) data-action="click->rummy-turn#draw" data-rummy-turn-action-param=action
  .card-container.card-container--large
    .playing-card
      - if card
        = image_tag("dark_cards/#{card.rank.downcase}_#{card.suit.downcase}.svg")
      - else
        = image_tag("dark_cards/card_back.svg")

  p.pile__caption = label
