.page.container.container--sm
  table.table.table--primary.table--sticky-header
    thead
      tr
        th Game Name
        th Duration
        th Winner
        
    tbody
      = render partial: "history/game", collection: @games