.profile {
  padding: var(--gp-space-2x-large);
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: var(--gp-space-large);

  h1 {
    color: var(--gp-color-accent-text);
  }

  btn {
    margin-top: var(--gp-space-2x-large);
    flex-shrink: 1;
  }

}