.stats-page {

    padding: var(--gp-space-2x-large);
    gap: var(--gp-space-large);

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .stats-page__header {
        gap: var(--gp-space-medium);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stats-page__body {
        flex: 1;

        border-radius: var(--gp-radius-2x-large);
        background-color: var(--gp-surface-recessed);

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        
        gap: var(--gp-space-small);
        padding: var(--gp-space-medium);    
    }

}