.stat-block {
  background-color: var(--gp-surface-outline);
  grid-area: span 1;
  border-radius: var(--gp-radius-2x-large);

  .stat-block__header {
    text-align: center;
    font-size: var(--gp-font-4x-large);
    font-weight: var(--gp-weight-semi-bold);
    color: var(--gp-ink);
  }

  .stat-block__body {
    
  }
}