= tag.div(flash[:alert], style: "color:red") if flash[:alert]

.modal-wrapper.modal-wrapper--active
  .modal-wrapper__backdrop
  .modal.modal--login
    = simple_form_for @user do |f|
      .modal__header
        | Create an Account
        .header__action
          p Already have an account? &nbsp;
          = link_to "Log in", new_session_path

      .modal__body
          = f.input :email_address
          = f.input :password
          = f.input :password_confirmation
      .modal__footer
        = f.button :submit