.popup {
  position: fixed;
  top: -100px;
  left: 50%;
  z-index: 9999;

  display: none;

  color: var(--gp-color-warning-on-base);
  background-color: var(--gp-color-warning-base);
  padding: var(--op-space-medium);
  border-radius: var(--op-radius-large);
  font-weight: var(--op-font-weight-semi-bold);
  box-shadow: var(--op-shadow-medium);


  transition: all 0.4s ease-in-out;

  &.show {
    top: 20px;
    animation: slideDown 0.2s ease-out forwards;
    display: block;
  }
}


@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}