.game-bar.card
  p = game.name
  - if user_game
    = button_to "View", game_path(game), method: :get, class: "btn btn--primary"
  - else 
    = button_to "Join", game_participants_path(game), method: :post, class: "btn btn--primary"