.page.container.container--sm
  table.table.table--primary.table--sticky-header
    thead
      tr
        th Game Name
        th Duration
        th Winner
        
    tbody
      tr
        td Da Boyz
        td 15:08
        td Drewski

    tfoot
      tr
        td colspan="2" Total movies
        td colspan="1" 11