.op-page__sidebar
  nav.sidebar.sidebar--padded.sidebar--drawer
    a.sidebar__brand href="/"
      h1 Go Fish
    
    .sidebar__content.sidebar__content--start
      button.btn.btn--no-border
        i.ph.ph-settings.icon.icon--weight-semi-bold spade
        | Leaderboard
      button.btn.btn--no-border
        i.ph.ph-settings.icon.icon--weight-semi-bold chart-line
        | Leaderboard
      button.btn.btn--no-border
        i.ph.ph-settings.icon.icon--weight-semi-bold trophy
        | Leaderboard
    
    .sidebar__content.sidebar__content--end
      .divider
      button.btn.btn--no-border
        i.ph.ph-settings.icon.icon--weight-semi-bold user
        | Profile
      button.btn.btn--no-border
        i.ph.ph-settings.icon.icon--weight-semi-bold sign-out
        | Logout

.op-page__main
  .container.container--sm.container--md-padding
    .op-stack
      .content-header
        .content-header__details
        h1.content-header__title Your Games
        .content-header__aside
          button.btn.btn--primary
            i.ph.ph-settings.icon.icon--weight-semi-bold plus
            | New Game
        .divider.divider--medium
      .op-stack
        .content-header.card
          .content-header__details
          p.content-header__title Game 2
          .content-header__aside
            button.btn.btn--primary Play now

p All Games

