.container.container--sm.container--md-padding

  .contents
    .collection
      .game-bar.game-bar--header
        h1 Your Games
        = link_to new_game_path, class: "btn btn--primary" do
          i.ph.ph-settings.icon.icon--weight-semi-bold plus
          | New Game

      .collection
        = render partial: 'game', collection: @user_games, locals: { is_user_game: true, }

    .collection
      .game-bar.game-bar--header
        h1 All Games

      .collection
        = render partial: 'game', collection: @other_games, locals: { is_user_game: false, }