div.game
  / Board
  div.panel.panel--board

    div.panel__header.header--top
      h2 = @game.name
    div.panel__body

      div.op-stack.items-stretch.gap-xs
        p Players
        = render partial: "games/go_fish/opponent", collection: @opponents, as: :opponent

  / Feed
  div.panel.panel--feed.panel--side

    div.panel__header.header--top
      p Game Feed

    div.panel__body
    - if @started
      div.feed__messages
        = render partial: "games/go_fish/message", collection: @messages, as: :message

        = simple_form_for :turn, url: game_turns_path(@game), html: {class: "request-form"} do |f|
          = f.input :player_name, as: :select, collection: @opponent_names, selected: @opponent_names.first
          = f.input :rank, as: :select, collection: @ranks, selected: @ranks.first
          = f.button :submit, "Ask for card", class: "btn btn--primary", disabled: !@is_user_turn
          
  / Hand
  div.panel.panel--hand.panel--base

    div.panel__header
      p Your Hand

    div.panel__body.hand
      = render partial: "games/go_fish/card", collection: @cards, as: :card

  / Books
  div.panel.panel--books.panel--side.panel--base
    div.panel__header
      p Books

    div.panel__body

  - if @winner
    div.overlay.card
      h1 = "#{@winner.email_address} wins!"
      form action="/reset" method="POST"
        button.btn.btn--primary name='reset_button' type="submit" Restart Game

  - unless @started
    div.overlay.card
      h1 Waiting for players...
      = button_to "Start Game", start_game_path(@game), method: :post, class: "btn btn--primary"