div.game
  / Board
  div.panel.panel--board

    div.panel__header.header--top
      h2 = @game.name
    div.panel__body

      div.op-stack.items-stretch.gap-xs
        p Players
        = render partial: "games/go_fish/opponent", collection: @opponents, as: :opponent

  / Feed
  div.panel.panel--feed.panel--side

    div.panel__header.header--top
      p Game Feed

    div.panel__body
    - if @started
      div.feed__messages
        = render partial: "games/go_fish/message", collection: @messages, as: :message

      = form_with url: game_turns_path(@game), class: "request-form", method: :post do |f|

        div.request-form__details

          div.form-group
            = f.label :player, "Player"
            = f.select :player
              - @opponents.each do |opponent|
                option = opponent.name

          div.form-group
            = f.label :rank, "Rank"
            = f.select :rank
              - @current_player.unique_cards.each do |card|
                option = card.rank

        = f.submit "Ask for card", class: "btn btn--primary"

  / Hand
  div.panel.panel--hand.panel--base

    div.panel__header
      p Your Hand

    div.panel__body.hand
      = render partial: "games/go_fish/card", collection: @cards, as: :card

  / Books
  div.panel.panel--books.panel--side.panel--base
    div.panel__header
      p Books

    div.panel__body

  - unless @started
    div.overlay.card
      h1 Waiting for players...
      = button_to "Start Game", start_game_path(@game), method: :post, class: "btn btn--primary"