.message {

  flex: none;
  display: flex;
  justify-content: start;
  align-items: center;

  font-size: var(--op-font-medium);

  p {
      padding: var(--op-space-small);
      border-radius: var(--op-radius-x-large);
      
      color: var(--gp-color-neutral-on-plus-five-alt);
      background-color: var(--gp-color-neutral-plus-five);
  }

  &.message--action {
    margin-top: var(--op-space-small);
  }

  &.message--response {

    gap: var(--op-space-x-small);
    padding-inline: var(--op-space-small);

    p {
      flex: 1;
      color: var(--gp-color-neutral-on-plus-max);
      border: var(--op-border-width) solid var(--gp-color-neutral-plus-five);
      background-color: var(--gp-color-neutral-plus-eight);

      font-size: var(--op-font-x-small);
      font-weight: var(--op-font-weight-semi-bold);
    }

    .response__icon {
      color: var(--gp-color-neutral-on-plus-eight-alt);
      font-weight: bolder;
    }

    &.response--alert {
      p {
        color: var(--gp-color-warning-text);
        border: var(--op-border-width) solid var(--gp-color-warning-border);
        background-color: var(--gp-color-warning-surface);
      }
    }
  }
}