.message {

  flex: none;
  display: flex;
  justify-content: start;
  align-items: center;

  font-size: var(--gp-font-medium);

  p {
      padding: var(--gp-space-small);
      border-radius: var(--gp-radius-x-large);
      
      color: var(--gp-ink-dim);
      background-color: var(--gp-surface-card);
  }

  &.message--action {
    margin-top: var(--gp-space-small);
  }

  &.message--response {

    gap: var(--gp-space-x-small);
    padding-inline: var(--gp-space-small);

    p {
      flex: 1;
      color: var(--gp-ink);
      border: var(--gp-border-width) solid var(--gp-surface-card);
      background-color: var(--gp-surface-raised);

      font-size: var(--gp-font-x-small);
      font-weight: var(--gp-weight-semi-bold);
    }

    .response__icon {
      color: var(--gp-ink-muted);
      font-weight: bolder;
    }

    &.response--alert {
      p {
        color: var(--gp-color-warning-text);
        border: var(--gp-border-width) solid var(--gp-color-warning-border);
        background-color: var(--gp-color-warning-surface);
      }
    }
  }
}