.phase-stepper {
  display: flex;
  gap: var(--gp-space-3x-small);

  .phase-stepper__step {
    font-size: var(--gp-font-2x-small);
    padding: var(--gp-space-3x-small) var(--gp-space-small);
    border: var(--gp-border-width) solid var(--gp-color-border);
    border-radius: var(--gp-radius-2x-large);
    color: var(--gp-color-muted);
    background-color: var(--gp-color-neutral-plus-max);

    &.phase-stepper__step--active {
      border-color: var(--gp-color-accent);
      color: var(--gp-color-accent-text);
      font-weight: var(--gp-weight-bold);
      background-color: var(--gp-color-neutral-plus-eight);
    }
  }
}
