.player-dropdown {

.player-dropdown__summary {

    background-color: var(--gp-color-neutral-plus-max);

    height: var(--gp-input-height-large);

    font-size: var(--gp-font-medium);
    font-weight: var(--gp-weight-normal);
    padding-right: var(--gp-space-medium);
    padding-left: var(--gp-space-x-small);

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--gp-radius-medium);

    .player-dropdown__name {
    display: flex;
    gap: var(--gp-space-x-small);

    .icon {
        flex: none;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: var(--gp-font-large);
        font-weight: bolder;
    }
    }

    .player-dropdown__details {
    display: flex;
    gap: var(--gp-space-medium);

    dl {
        display: flex;
        gap: var(--gp-space-3x-small);
        dd {font-weight: var(--gp-weight-semi-bold);}
    }
    }
}

.player-dropdown__summary:hover {
    outline: var(--gp-border-width) solid var(--gp-color-neutral-plus-six);
    outline-offset: calc(var(--gp-border-width) * -1);
}


.player-dropdown__expanded {
    padding: var(--gp-space-small) var(--gp-space-medium);
    display: flex;
    justify-content: space-between;
    border-top: 0;
    border-inline: var(--gp-border-width) solid var(--gp-color-border);
    border-bottom: var(--gp-border-width) solid var(--gp-color-border);
    background-color: var(--gp-color-neutral-plus-eight);

    border-bottom-left-radius: var(--gp-radius-medium);
    border-bottom-right-radius: var(--gp-radius-medium);

    .expanded__hand {
    display: flex;
    }

    .expanded__books {
    display: flex;
    justify-content: end;
    }
}
}

.player-dropdown[open] {

color: var(--gp-color-neutral-on-plus-eight);

.player-dropdown__summary {

    border-bottom: 0;
    border-top: var(--gp-border-width) solid var(--gp-color-neutral-plus-four);
    border-inline: var(--gp-border-width) solid var(--gp-color-neutral-plus-four);
    background-color: var(--gp-color-neutral-plus-eight);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .icon {
    display: grid;
    place-content: center;

    border-radius: var(--gp-radius-medium);
    padding: var(--gp-space-x-small);
    
    background-color: var(--gp-color-neutral-plus-five);
    border: var(--gp-border-width) solid var(--gp-color-neutral-plus-three);
    }
}
.player-dropdown__expanded {
    border-color: var(--gp-color-neutral-plus-four);
}
}

