  .request-form {
    flex: none;
    display: flex;
    flex-direction: column;

    border-radius: var(--gp-radius-x-large);

    padding: var(--gp-space-small);
    gap: var(--gp-space-small);

    background-color: var(--gp-surface-recessed);
    border: var(--gp-border-width) solid var(--gp-surface-raised);

    .request-form__details{
      display: flex;
      gap: var(--gp-space-small);

      .form-group{
        flex: 1;
        padding: 0;
      }
    }
  }