.banner {
    --_gp-banner-label-background: var(--gp-n-minus-10);

    position: relative;
    background-color: var(--gp-surface-dim);
    height: 150px;

    img {
        display: flex;
        justify-content: center;
        align-items: center;

        transform: scale(0.9);

        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--_gp-banner-label-background);
        border-radius: var(--gp-radius-x-large);
        padding-block: var(--gp-space-x-small);
        padding-inline: var(--gp-space-small);
        font-weight: var(--gp-weight-semi-bold);
    }
}