.body {
    display: grid;

    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header header"
    "left main right";

    h2 {
       color: var(--gp-color-accent-text);
       font-weight: var(--gp-weight-medium);
    }

    p {
        text-wrap: pretty;
        margin-left: 5px;
    }

    .body__header {
        grid-area: header;
    }

    .body__main {
        grid-area: main;
        padding-block: var(--gp-space-medium);
    }

    .body__left {
        grid-area: left;

        display: flex;
        justify-content: end;
        align-items: start;
        padding-block: var(--gp-space-medium);
        padding-inline: var(--gp-space-2x-large);
    }

    .body__right {
        grid-area: right;
    }
}

.equal-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: fit-content;

    gap: var(--gp-space-small);
}