
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: var(--gp-surface-recessed);
    padding: var(--gp-space-small);
    border-radius: var(--gp-radius-large);
}