.panel {
  --gp-navbar-height: 60px ;

  display: flex;
  flex-direction: column;

  color: var(--gp-ink-muted);

  .panel__header {
    background-color: var(--gp-surface-raised);
    font-size: var(--gp-font-large);
    font-weight: var(--gp-weight-semi-bold);
    border-bottom: var(--gp-border-width) solid var(--gp-color-border);
    display: flex;
    align-items: center;

    padding: var(--gp-space-small) var(--gp-space-medium);

    &.header--top {
      height: var(--gp-navbar-height);
    }

    h2 {
      color: var(--gp-ink);
      font-size: var(--gp-font-large);
      font-weight: var(--gp-weight-semi-bold);
    }
  }

  .panel__body {
    flex: 1;
    box-shadow: inset var(--gp-shadow-x-large);
  }

  &.panel--side {
    min-height: 0;
    min-width: 0;
    border-left: var(--gp-border-width) solid var(--gp-color-border);
  }

  &.panel--base {
    border-top: var(--gp-border-width) solid var(--gp-color-border);
  }
}

.panel--board {
  grid-area: board;

  .panel__header {
    padding-left: var(--gp-space-large);
    h2 {font-size: var(--gp-font-2x-large);}
  }

  .panel__body {

    overflow: auto;

    font-size: var(--gp-font-small);
    font-weight: var(--gp-weight-semi-bold);

    padding-top: var(--gp-space-2x-large);
    padding-bottom: var(--gp-space-2x-large);
    padding-inline: var(--gp-space-3x-large);
  }
}

.panel--feed {
  --gp-feed-background: var(--gp-surface-floor);

  grid-area: feed;
  background-color: var(--gp-feed-background);

  .panel__header {
    border-bottom: none;
    background-color: var(--gp-surface-recessed);
    color: var(--gp-ink-muted);
    justify-content: space-between;

    .badge {
      border: var(--gp-border-width-x-large) solid var(--gp-surface-floor);
      border-radius: var(--gp-radius-large);
    }
  }

  .panel__body {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--gp-space-medium);
  }

  .feed__messages{
    overflow: auto;

    display: flex;
    flex-direction: column-reverse;
    gap: var(--gp-space-x-small);
    mask-image: linear-gradient(to top, currentColor 85%, transparent 100%);
    padding-bottom: var(--gp-space-medium);
    }
}

.panel--hand {
  grid-area: hand;

  .panel__body{
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--gp-space-small);
    overflow: visible;

    padding: var(--gp-space-medium);
  }
}

.panel--books {
  grid-area: books;

  .panel__body {
    display: flex;
    align-items: center;
    padding: var(--gp-space-medium);
  }
}
