.modal-wrapper.modal-wrapper--active
  .modal-wrapper__backdrop
  .modal.modal--login
    = form_with url: user_index_path do |f|
      .modal__header
        | Create an Account
        .header__action
          p Already have an account? &nbsp;
          = link_to "Log in", new_session_path

      .modal__body
        .field
          p Email
          = f.email_field :email_address, required: true, placeholder: "user@example.com", class: "form-control"
        .field
          p Password
          = f.password_field :password, required: true, class: "form-control"
        .field
          p Confirm Password
          = f.password_field :password_confirmation, required: true, class: "form-control"

      .modal__footer
        = f.submit "Sign up", class: "btn btn--primary"