.contents {
    display: flex;
    flex-direction: column;
    gap: var(--op-space-x-large);
}


.collection {
    display: flex;
    flex-direction: column;
    gap: var(--op-space-small);
}

.game-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--op-space-x-small);
    padding-left: var(--op-space-small);
}

.game-bar--header {
    padding-right: 0;
    border-bottom: var(--op-border-width-large) solid var(--op-color-border);
}