.overlay {

    margin-top: 100px;

    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;

    background-color: var(--op-color-neutral-plus-six);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    padding: var(--op-space-2x-large);
    padding-inline: var(--op-space-4x-large);
}
