.panel {
  --gf-navbar-height: 60px ;

  display: flex;
  flex-direction: column;

  color: var(--op-color-neutral-on-plus-eight-alt);

  .panel__header {
    background-color: var(--op-color-neutral-plus-eight);
    font-size: var(--op-font-large);
    font-weight: var(--op-font-weight-semi-bold);
    border-bottom: var(--op-border-width) solid var(--op-color-border);
    display: flex;
    align-items: center;

    padding: var(--op-space-small) var(--op-space-medium);

    &.header--top {
      height: var(--gf-navbar-height);
    }

    h2 {
      color: var(--op-color-neutral-on-plus-max);
      font-size: var(--op-font-large);
      font-weight: var(--op-font-weight-semi-bold);
    }
  }

  .panel__body {
    flex: 1;
    box-shadow: inset var(--op-shadow-x-large);
  }

  &.panel--side {
    min-height: 0;
    min-width: 0;
    border-left: var(--op-border-width) solid var(--op-color-border);
  }

  &.panel--base {
    border-top: var(--op-border-width) solid var(--op-color-border);
  }
}

.panel--board {
  grid-area: board;

  .panel__header {
    padding-left: var(--op-space-large);
    h2 {font-size: var(--op-font-2x-large);}
  }

  .panel__body {

    overflow: auto;

    font-size: var(--op-font-small);
    font-weight: var(--op-font-weight-semi-bold);

    padding-top: var(--op-space-2x-large);
    padding-bottom: var(--op-space-2x-large);
    padding-inline: var(--op-space-3x-large);
  }
}

.panel--feed {
  --gf-feed-background: #2d0808;

  grid-area: feed;
  background-color: var(--gf-feed-background);

  .panel__header {
    border-bottom: none;
    background-color: var(--op-color-primary-plus-seven);
    color: var(--op-color-primary-on-plus-eight-alt);
    justify-content: space-between;

    .badge {
      border: var(--op-border-width-x-large) solid var(--op-color-neutral-plus-max);
      border-radius: var(--op-radius-large);
    }
  }

  .panel__body {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--op-space-medium);
  }

  .feed__messages{
    overflow: auto;

    display: flex;
    flex-direction: column-reverse;
    gap: var(--op-space-x-small);
    mask-image: linear-gradient(to top, black 85%, transparent 100%);
    padding-bottom: var(--op-space-medium);
    }
}

.panel--hand {
  grid-area: hand;

  .panel__body{
    flex: 1;
    min-height: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    padding: var(--op-space-medium);
  }
}

.panel--books {
  grid-area: books;

  .panel__body {
    display: flex;
    align-items: center;
    padding: var(--op-space-medium);
  }
}
