  .request-form {
    flex: none;
    display: flex;
    flex-direction: column;

    border-radius: var(--op-radius-x-large);

    padding: var(--op-space-small);
    gap: var(--op-space-small);

    background-color: var(--op-color-primary-plus-seven);
    border: var(--op-border-width) solid var(--op-color-primary-plus-six);

    .request-form__details{
      display: flex;
      gap: var(--op-space-small);

      .form-group{
        flex: 1;
        padding: 0;
      }
    }
  }