.game id=dom_id(game_info.game)
  / Board
  .panel.panel--board

    .panel__header.header--top
      h2 = game_info.name
    .panel__body

      .op-stack.items-stretch.gap-xs
        p Players
        - if game_info.started?
          = render partial: "go_fish_games/opponent", collection: game_info.opponents, as: :opponent

  / Feed
  .panel.panel--feed.panel--side

    .panel__header.header--top
      - if game_info.started? && game_info.user_turn?
        div data-controller="turn-timer" data-turn-timer-duration-value="#{game_info.wait_time}"
          h2 data-turn-timer-target="display"

      p Game Feed

    .panel__body
      - if game_info.started?
        .feed__messages
          = render partial: "go_fish_games/message", collection: game_info.messages, as: :message

      - if game_info.playable?
        = simple_form_for game_info.form,
                as: :turn,
                url: game_turns_path(game_info.game),
                data: {controller: "game-form", action: "turn-timer:ended@window->game-form#submitForm" },
                html: {class: "request-form"} do |f|

          = f.input :player_name,
                  as: :select,
                  collection: game_info.opponent_names,
                  include_blank: false

          = f.input :rank,
                  as: :select,
                  collection: game_info.ranks,
                  include_blank: false

          = f.button :submit,
                  "Ask for card",
                  class: "btn btn--primary",
                  disabled: !game_info.user_turn?,
                  data: { 'game-form_target': 'button' }
  / Hand
  .panel.panel--hand.panel--base

    .panel__header
      p Your Hand

    .panel__body.hand
      - if game_info.started?
        = render partial: "go_fish_games/card", collection: game_info.cards, as: :card

    / # @game.player.cards

  / Books
  .panel.panel--books.panel--side.panel--base
    .panel__header
      p Books

    .panel__body

  - unless game_info.started?
    .overlay.card
      h1 Waiting for players...
      = button_to "Start Game", start_game_path(game_info.game), method: :post, class: "btn btn--primary"
