- if message.type == :action
  div.message.message--action
    p = message.text
- else
  div.message.message--response class=(message.type == :alert ? 'response--alert' : '')
    i.response__icon.ph.ph-arrow-elbow-down-right
    p = message.text
