details class="player-dropdown accordion" id="opponent-partial" data-controller="hand" data-action="toggle->hand#updateOverlap"
  summary class="player-dropdown__summary"
    div class="player-dropdown__name"
      i class="ph ph-settings icon accordion__marker icon--small" caret-right
      p #{opponent.name}
    div class="player-dropdown__details"
      dl
        dt Cards:
        dd #{opponent.cards.length}
      dl
        dt Books:
        dd #{opponent.book_count}

  div class="player-dropdown__expanded"
    div class="expanded__hand"
      - opponent.cards.size.times do
        div class="card-container" data-hand-target="card"
          = image_tag("dark_cards/card_back.svg", class: "playing-card playing-card--medium")

    div class="expanded__books"
      = render partial: "go_fish_games/book", collection: opponent.books, as: :book

