.op-page__sidebar
  nav.sidebar.sidebar--padded.sidebar--drawer
    a.sidebar__brand href="/"
      h1 Go Fish
    
    .sidebar__content.sidebar__content--start
      button.btn.btn--no-border
        i.ph.ph-settings.icon.icon--weight-semi-bold spade
        | Games
      button.btn.btn--no-border
        i.ph.ph-settings.icon.icon--weight-semi-bold chart-line
        | Stats
      button.btn.btn--no-border
        i.ph.ph-settings.icon.icon--weight-semi-bold trophy
        | Leaderboard
      a.btn.btn--no-border href="/pages/rules"
        i.ph.ph-settings.icon.icon--weight-semi-bold book-bookmark
        | Rules
    
    .sidebar__content.sidebar__content--end
      .divider
      button.btn.btn--no-border
        i.ph.ph-settings.icon.icon--weight-semi-bold user
        | Profile
      button.btn.btn--no-border
        i.ph.ph-settings.icon.icon--weight-semi-bold sign-out
        | Logout