.op-page__sidebar
  nav.sidebar.sidebar--padded.sidebar--drawer
    a.sidebar__brand href="/"
      h1 Go Fish

    .sidebar__content.sidebar__content--start
      = link_to root_path, method: :get, class: "btn btn--no-border" do
        i.ph.ph-settings.icon.icon--weight-semi-bold spade
        | Games

      = link_to stats_path, method: :get, class: "btn btn--no-border" do
        i.ph.ph-settings.icon.icon--weight-semi-bold chart-line
        | Stats

      = link_to rules_path, method: :get, class: "btn btn--no-border" do
        i.ph.ph-settings.icon.icon--weight-semi-bold book-bookmark
        | Rules

      = link_to history_index_path, method: :get, class: "btn btn--no-border" do
        i.ph.ph-settings.icon.icon--weight-semi-bold books
        | History

      = link_to leaderboard_index_path, method: :get, class: "btn btn--no-border" do
        i.ph.ph-settings.icon.icon--weight-semi-bold ranking
        | Leaderboard

    .sidebar__content.sidebar__content--end

      .divider

      = link_to user_path(current_user), class: "btn btn--no-border" do
        i.ph.ph-settings.icon.icon--weight-semi-bold user
        | Profile

      = link_to session_path, data: { turbo_method: :delete }, class: "btn btn--no-border" do
        i.ph.ph-settings.icon.icon--weight-semi-bold sign-out
        | Logout