.stats-page
  .stats-page__header
    button.btn.btn--primary.btn--medium
      i.ph.ph-settings.icon arrow-fat-line-up
      | Big Numbers
    button.btn.btn--primary.btn--medium
      i.ph.ph-settings.icon trophy
      | Wins
    button.btn.btn--primary.btn--medium
      i.ph.ph-settings.icon sword
      | Strategy
    button.btn.btn--primary.btn--medium
      i.ph.ph-settings.icon users
      | Opponents
    button.btn.btn--primary.btn--medium
      i.ph.ph-settings.icon timer
      | Play time

    p user.

  / .stats-page__body
  /   .stat-block
  /   .stat-block
  /   .stat-block
  /   .stat-block
  /   .stat-block